@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #fffbdc;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, th, td {
    color: #a13941;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #a13941;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f4f4f4;
}

a, button {
    background-color: #a13941;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover, button:hover {
    background-color: #8b2e35;
}

footer {
    background-color: #a13941;
    color: white;
    padding: 1rem;
    position: relative; /* Change from absolute to avoid footer always sticking to the bottom of the screen */
    width: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .container {
        width: 60%; /* Tighter container for larger screens */
    }
}

/* Styling for tags container to appear in a row */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

/* Styling for form inputs to appear in a column */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Styling for buttons to be side by side */
.form-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Additional classes for buttons */
.btn-primary {
    background-color: #a13941;
}

.btn-secondary {
    background-color: #ddd;
    color: #333;
}